
</nav>
  <script src= "/Scripts/app.js"></script> <!--- script file-->
  <script src= "/bootstrap/dist/js/bootstrap.min.js"></script> <!--- script file-->
  <script src= "/jquery/dist/jquery.min.js"></script> <!--- script file-->
</body>
</html>