<%- include partials/header.ejs %>
<%- include partials/navbar.ejs %>
<%- include partials/home.ejs %>

<link rel="stylesheet" type="text/css" href="css/app.css">

<main> 
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"> MoviePick <%= title %> <br> <h2> choose the best movie for YOU
    </h2> </h1>
  </div>
</div>
<br>

<!--my iamges for home-->
<img src="../Assets/images/spider.jpg"height="200px" width="200px">>  
<img src="../Assets/images/mirror.jpg"height="200px" width="200px">>
<img src="../Assets/images/pic.jpg"height="200px" width="200px">>
<img src="../Assets/images/little.jpg"height="200px" width="200px">>
<img src="../Assets/images/jumanji.jpg"height="200px" width="200px">>
<img src="../Assets/images/future.jpg"height="200px" width="200px">>
<img src="../Assets/images/man.jpg"height="200px" width="170px">>
</main>
<% include partials/footer.ejs %>






