


<main class= "container">

<% if(message.length>0) { %>
<div class="alter alter-danger">
<%=message%.
</div>
<%} %>

<div class="alter alter-danger">
    div.row> div.offset-md-4.col-md-4>
   <h1>Please Login </h1>
   <form action="" method="post" autocomplete="off" >

   <fieldset class="form-group">
   <label for="username" > Username: </label>
   <input type= "text" class="form-control"
   name="username" placeholder="Enter your name"
   id= "usernmae" required autrofocus>
   </fieldset>
   </form>

      <fieldset class="form-group">
   <label for="username" > Password: </label>
   <input type= "password" class="form-control"
   name="password" placeholder="Enter your password"
   id= "password" required >
   </fieldset>

   <input type="submit" class="btn btn-success" value="login">
   <a href="/">
   <input type="button" class="btn btn-warning"  value="Cancel">
   </div>
      </div> 
        </div>  
          </div>
          </main>


< fieldset class="form-group">
   <label for="username" > Email: </label>
   <input type= "email" class="form-control"
   name="email" placeholder="Enter your email"
   id= "email" required autrofocus>
   </fieldset>

   < fieldset class="form-group">
   <label for="diaplay name" > displayName: </label>
   <input type= "email" class="form-control"
   name="displayName" placeholder="Enter your display name"
   id= "displayName" required autrofocus>
   </fieldset>
   </form>

   < fieldset class="form-group text-right">    </fieldset>
   <input type= "submit" class="btn btn -success" value="login"
   id= "email" required autrofocus>



<%- include ../partials/footer.ejs%>